<div class="container mt-3">
  <h1>Fight</h1>
  <span class="h6">Select 2 teams to start a battle</span>
  <form #selectTeamsForm="ngForm" class="form" (ngSubmit)="fight()">
    <div class="row mt-5">
      <div class="col-md-6 mb-3" *ngFor="let index of [1, 2]">
        <label for="team-select" class="form-label"
          >Team {{ index }}<span class="text-danger">*</span></label
        >
        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-expanded="false">
            {{ getSelectTeam(index) || 'Select Team ' + index }}
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li *ngFor="let team of getTeams()" class="team-container">
              <div class="dropdown-item" (click)="selectTeam(index, team)">
                <span class="me-3">{{ team.name }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mb-4 mt-5">
      <button
        type="submit"
        class="btn btn-primary me-2"
        [disabled]="shouldFormBeDisabled(selectTeamsForm.form.invalid)">
        Fight
      </button>
      <div class="error-feedback" *ngIf="selectTeamsError">
        Add Team Failed. Please try again.
      </div>
      <button type="button" class="btn btn-secondary" (click)="back()">
        Back
      </button>
    </div>
  </form>
</div>
